@import "tailwindcss";
@import 'tailwind-animations';

:root {
  --color-primary: #fdc63f;
  --button-hover: #FFE190;
  --bg-header: #777777/20;
  --bg-map:#EEEEEE;
  --bridge-color: #D9D9D9;
  --bg-color: #F7F7F7;
  --bgsection-primary: #EBEBEB;
  --bgsection-secundary: #CFCFCF;
}

@font-face {
  font-family: Montserrat;
  src: url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap)
}


@layer utilities {
  .hero-overlay {
    display: none;
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* Ocultar scrollbar horizontal */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

}
