@import "tailwindcss";
@import 'tailwind-animations';

:root {
  --color-primary: #fdc63f;
  --button-hover: #FFE190;
  --bg-header: #777777/20;
  --bg-map:#EEEEEE;
}

@layer utilities {
  .hero-overlay {
    background: linear-gradient(
      to top,
      rgb(0, 0, 0),
      rgba(0, 0, 0, 0)
    );
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
